@charset "UTF-8";
.aboutWrap {
  width: 100%;
  padding: 3rem 0;
  margin-bottom: 4rem;
}
.aboutWrap .inner {
  display: flex;
  justify-content: space-between;
}
.AboutTitle {
  display: block;
  width: 700px;
  padding: 1rem;
  border-radius: 60px;
  color: var(--point-bg);
  margin: 0 auto 3rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  background: #fff;
}
